#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]


#user                    = mysql
#pid-file                = /run/mysqld/mysqld.pid
#basedir                 = /usr
#datadir                 = /var/lib/mysql
#tmpdir                  = /tmp


# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address            = 0.0.0.0
